:root {
    /** Colors **/
    --white: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
    --FuentePrincipal: 'Outfit', sans-serif;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: var(--Lightgray);
    min-height: 100vh;
    margin: 0;

}

.contenedor{
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
margin: auto 2rem;
}

.fondo_blanco{
    background-color: var(--white);
    width: 38rem;
    height: 58rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
   
    
}

img{
    width: 90%;
    border-radius: 1.5rem;
    margin : 2rem;
}

.textos{
    font-size: 15px;
    font-family: var(--FuentePrincipal);
    text-align: center;
    margin:0 2rem;
}
.titulo{
    color: var(--Darkblue);
    
}

.sub_titulo{
    color: var(--Grayishblue);

}